Repository shadoath/fred-fraud-recognition-and-easy-detection, changes with the labels that .github/labeler.yml gives for each.
All labels: env-update, documentation

bump version
  package-lock.json
  package.json
Labels: none

fix display
  src/components/EmailAnalyzer.tsx
  src/components/MainDisplay.tsx
Labels: none

no buttons on text page (they don't work)
  src/components/TextInputAnalyzer.tsx
Labels: none

Hide permissions manager, it only works for gmail right now.
  src/components/MainDisplay.tsx
Labels: none

more notices
  src/components/EmailAnalyzer.tsx
Labels: none

version 1.1.1
  versions/1.1.1.zip
Labels: none

fix API key
  package.json
  public/manifest.json
  src/components/FraudChecker.tsx
Labels: none

fix email checker extra space
  src/components/EmailAnalyzer.tsx
Labels: none

nuke a bunch of stuff
  public/gmailScraper.js
  src/BaseContext.tsx
  src/__tests__/OfflineModeBanner.test.tsx
  src/__tests__/offlineFraudService.test.ts
  src/components/MainDisplay.tsx
  src/components/OfflineModeBanner.tsx
  src/components/PermissionsManager.tsx
  src/components/TextInputAnalyzer.tsx
  src/index.tsx
  src/lib/offlineFraudService.ts
  src/types/fraudTypes.ts
Labels: none

API key extraction
  src/components/ApiKeySettings.tsx
  src/hooks/useApiKey.tsx
Labels: none

feat removed the old js
  public/gmailScraper.js
  public/manifest.json
Labels: none

fix scrape email
  src/components/EmailAnalyzer.tsx
Labels: none

info log
  src/components/EmailAnalyzer.tsx
Labels: none

Expand with claude to also check links
  CLAUDE.md
  public/manifest.json
  src/__tests__/linkExtraction.test.ts
  src/components/EmailAnalyzer.tsx
  src/components/LinkDisplay.tsx
  src/components/TextInputAnalyzer.tsx
  src/lib/fraudService.ts
  src/types/fraudTypes.ts
Labels: documentation

auto extract
  .gitignore
  .sample.env
  src/components/EmailAnalyzer.tsx
  src/components/MainDisplay.tsx
  src/hooks/useGmailAutoExtract.tsx
Labels: env-update

dev mode check
  src/lib/devUtils.ts
Labels: none

Attempt to use html link extraction
  src/__tests__/devUtils.test.ts
  src/__tests__/linkExtraction.test.ts
  src/__tests__/useGmailAutoExtract.test.ts
  src/components/EmailAnalyzer.tsx
  src/hooks/useGmailAutoExtract.tsx
  src/lib/fraudService.ts
Labels: none

feat: Analysis tab less padding
  src/App.css
  src/components/AnalysisTab.tsx
  src/components/EmailAnalyzer.tsx
  src/components/FraudChecker.tsx
  src/components/MainDisplay.tsx
  src/components/TextInputAnalyzer.tsx
Labels: none

clean up
  src/components/MainDisplay.tsx
Labels: none

clean up
  src/components/EmailAnalyzer.tsx
  src/components/MainDisplay.tsx
  src/components/TextInputAnalyzer.tsx
  src/lib/fraudService.ts
  src/types/fraudTypes.ts
Labels: none

version 1.2.0
  package-lock.json
  package.json
  public/manifest.json
Labels: none

feat: auto lookup and tab swap
  src/components/AnalysisTab.tsx
  src/components/EmailAnalyzer.tsx
Labels: none

bump 1.2.1
  package-lock.json
  package.json
  public/manifest.json
Labels: none

refactor: eliminate code duplication in fraud service
  src/lib/fraudService.ts
Labels: none

feat: enhance API key security with improved obfuscation
  src/hooks/useApiKey.tsx
  src/lib/keyStorage.ts
  src/lib/simpleEnhancedStorage.test.ts
  src/lib/simpleEnhancedStorage.ts
Labels: none

docs: comprehensive code review for LLM API optimization
  CODE_REVIEW.md
Labels: documentation

fix: migrate ESLint to v9 flat config format
  eslint.config.js
  package-lock.json
  package.json
Labels: none

refactor: eliminate code duplication in fraudService
  src/__tests__/fraudService.test.ts
  src/lib/fraudService.ts
Labels: none

feat: improve API key security with session storage
  src/components/FraudChecker.tsx
  src/hooks/useApiKey.tsx
  src/lib/keyStorage.test.ts
  src/lib/keyStorage.ts
Labels: none

fix: resolve TypeScript errors in keyStorage tests
  src/lib/keyStorage.test.ts
Labels: none

docs: add comprehensive pull request description
  PULL_REQUEST.md
Labels: documentation

refactor: use chrome.storage.local and remove legacy code
  src/components/FraudChecker.tsx
  src/hooks/useApiKey.tsx
  src/lib/keyStorage.test.ts
  src/lib/keyStorage.ts
Labels: none

docs: update PR description for chrome.storage.local
  PULL_REQUEST.md
Labels: documentation

fix: remove duplicate getThreatColor, increase content limit, add token usage
  src/components/AnalysisTab.tsx
  src/components/EmailAnalyzer.tsx
  src/components/TextInputAnalyzer.tsx
  src/lib/fraudService.ts
  src/types/fraudTypes.ts
Labels: none

fix: remove dead onBackToHome props, consolidate email analysis handler
  src/components/EmailAnalyzer.tsx
  src/components/TextInputAnalyzer.tsx
Labels: none

feat: add model selector to settings with persistence
  src/components/ApiKeySettings.tsx
  src/components/EmailAnalyzer.tsx
  src/components/TextInputAnalyzer.tsx
  src/hooks/useApiKey.tsx
  src/lib/keyStorage.ts
Labels: none

feat: surface AI confidence score in threat rating display
  src/components/AnalysisTab.tsx
  src/components/ThreatRating.tsx
Labels: none

feat: add persistent analysis history with 20-entry storage
  src/components/HistoryTab.tsx
  src/components/MainDisplay.tsx
  src/lib/historyStorage.ts
Labels: none

feat: add URL/link analyzer tab
  src/components/AnalysisTab.tsx
  src/components/HistoryTab.tsx
  src/components/MainDisplay.tsx
  src/components/URLAnalyzer.tsx
  src/lib/fraudService.ts
  src/lib/historyStorage.ts
  src/types/fraudTypes.ts
Labels: none

bump 1.3.0
  package.json
  public/manifest.json
Labels: none

.github/labeler.yml:

env-update:
  - .sample.env
documentation:
  - "**/*.md"
